
// contact page styles

// header styles
header.contact {
    @include secondaryHeader(url(../assets/contactHeader.jpg));
}

// main section styles
.contactContent {
    background: $primaryColor;
    padding: 110px 0 180px;
    p {
        margin: 0;
    }
    p:nth-of-type(1) {
        margin: 20px 0 40px;
    }
}

.social i {
    color: $secondaryColor4;
    padding: 8px;
}

.contactContent .wrapper {
    display: flex;
    flex-direction: row-reverse;
    .info {
        width: 33.33%;
    }
    .contactForm {
        width: 66.66%;
        position: relative;
    }
}

.contactContent form {
    @include formStyle($secondaryColor3, $secondaryColor4);
    box-shadow: $shadowRight;
    position: absolute;
    top: -250px;
}



