$primaryColor: #111010;
$secondaryColor1: #ff8327;
$secondaryColor2: #bf2603;
$secondaryColor3: #220303;
$footerColor:  	#505050;
$shadowLeft: -20px 20px $secondaryColor1;
$shadowRight: 20px 20px $secondaryColor1;

$baseFont: 'Chathura', sans-serif;
$logoFont: 'Tulpen One', cursive;

@mixin text($color) {
    font-family: $baseFont;
   font-size: 1.95rem;
   line-height: 30px;
   letter-spacing: 1.9px;
   color: $color;
   text-decoration: none;
}

@mixin headers($alignment, $lineHeight, $letterSpacing, $color, $fontSize) {
    font-family:$baseFont;
    font-weight: 700;
    text-align: $alignment;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
    font-size: $fontSize;
}

@mixin logo($letterSpacing, $fontSize, $fontColor){
    font-family: $logoFont;
    text-align: center;
    letter-spacing: $letterSpacing;
    font-size: $fontSize; 
    color: $fontColor;
    margin: 0;
}

@mixin button($padding) {
    @include logo(2.5px, 1.6rem, white);
    text-decoration: none;
    background: $secondaryColor2;
    padding: 5px $padding;
}

@mixin secondaryHeader($url){
    background: $url;
    background-size: cover;
    background-position: center center;
    h2 {
        @include headers(left, 1.14, 2.6px, white, 4.18rem)
    }
    height: 55vh;
}

@mixin formStyle($backgroundColor, $borderColor) {
    display: float;
    flex-wrap: wrap;
    font-family: $baseFont;
    font-size: 1.6rem;
    background: $backgroundColor;
    padding: 30px 70px 50px;
    input {
        padding: 20px;
        border: none;
        background: $backgroundColor;
    }
    input::placeholder {
        color: white;
        opacity: 1;
    }
    input[type=text] {
        width: 50%;
        border-bottom: 2px solid $borderColor;
    }
    input[type=email] {
        width: 49%;
        border-bottom: 2px solid $borderColor;
    }
    textarea {
        width: 100%;
        padding: 20px;
        border: 2px solid $borderColor;
        background: $backgroundColor;
        margin: 50px 0
    }
    textarea::placeholder {
        color: white;
        opacity: 1;
    }
    .button {
        @include button(0);
        width: 100%;
    }
}

html {
    font-size: 125%;
}

p {
   @include text(white);
}

h1 {
    @include logo(2.4px, 13rem, $secondaryColor1);
}

h3 {
    margin: 0;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}