
// home page styles

// header section styles
header.home {
    background: url(../assets/homeHeader.jpg);
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.home .wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerImage {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -125px;
}

header.home h3 {
    @include headers(center, 1.15, .0325em, $secondaryColor4, 4rem);
    position: absolute;
    bottom: -20px;
    left: 10px;
}

.title {
    position: relative;
    width: 450px;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 50px;
}

// about section styles
i.home {
    color: $secondaryColor4;
    background: $secondaryColor2;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2rem;
}

.container:nth-of-type(1) i {
    padding: 11.5px 10px;
}

.container:nth-of-type(2) i {
    padding: 13px 10px;
}

.container:nth-of-type(3) i {
    padding: 10px 13px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background: $primaryColor;
    padding: 200px 0 75px;
}

.about h3 {
    @include headers(left, 1.17, .032em, $secondaryColor4, 3.4rem)
}

.about .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    .icon {
        width: 10%;
    }
    h3 {
        width: 90%;
        padding-left: 20px;
    }
    p {
        width: 100%;
        padding-left: calc(10% + 20px);
        margin: 0 0 70px;
    }
}

// reservations section styles
.reservations {
    display: flex;
    flex-wrap: wrap;
    background: $secondaryColor3;
    .reservationsImage {
        position: relative;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin: 0 0 30px;
            
        }
    }
}

.reservations > * {
    width: calc(50% - 120px);
}

.reservationsImageLeft {
    margin: 0 120px 0 0;
    top: -50px;
    img {
        box-shadow: $shadowRight;
    }
}

.reservationsImageRight {
    bottom: -50px;
    margin: 0 0 0 120px;
    order: 4;
    img {
        box-shadow: $shadowLeft;
    }
}

.contentRight {
    /* in order to keep the text of the content sections in-line with the wrapper of of the other sections, I followed these steps:
    1) calculated width of half the wrapper: 625px
    2) substracted the inside margin value of 120px, which equals 505px
    3) To calculate the outside padding value(in this case the padding-right) I calculated the width of the .content div, expressed in terms of it's parent (50% - 120px) and then substracted 505px */
    padding-right: calc((50% - 120px) - 505px);
    margin-left: 120px;
    h3 {
        @include headers(left, 1.17, 0.032em, $secondaryColor4, 3.4rem);
    }
}

.contentLeft {
    margin-right: 120px;
    padding-bottom: 50px;
    padding-left: calc((50% - 120px) - 505px);
    h3 {
        @include headers(right, 1.17, .032em, $secondaryColor4, 3.4rem);
    }
    .button {
        align-self: flex-end;
    }
}

.reservations .button {
    @include button(30px);
    width: 150px;
}

// promotion section styles
.promotion {
    background: $primaryColor;
    text-align: center;
    padding: 175px 0 0;
    .wrapper {
        padding: 0 40px 150px;
    }
    .button {
        @include button(40px);
    }
    h3 {
        @include headers(center, 1.17, .032em, $secondaryColor1, 3.4rem)
    }
    p {
        margin: 10px 0 39px;
    }
}

// events section styles
.events {
    background: $primaryColor;
    padding: 130px 0;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .eventsImage {
            width: calc(30% - 60px);
            margin-right: 60px;
            padding-top: 20px;
        }
        .content {
            width: calc(70% - 60px);
            margin-left: 60px;
        }
    }
}

.events {
    h3 {
        @include headers(left, 1.17, .032em, $secondaryColor1, 3.4rem )
    }
    .button {
        @include button(45px);
    }
    p {
        margin: 0 0 39px; 
    }
    img {
        box-shadow: $shadowLeft;
    }
}

// gallery section styles
.gallery {
    background: $secondaryColor3;
    padding: 100px 0;
    .wrapper {
        display: flex;
        li {
            width: calc(33.33% - (80/3));
        }
    }
}

.gallery li:nth-child(1) {
    margin-right: 20px;
}

.gallery li:nth-child(2) {
    margin: 0 20px;
}

.gallery li:nth-child(3) {
    margin-left: 20px;
}








